body {
    background-color: red;
    font-family: sans-seri;
    margin: 5;
    padding: 5;
  }
  
  
  button {
    background-color: goldenrod;
    color: rgb(188, 211, 177);
    padding: 0.6em;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
  }
  
  button {
    background-color:hotpink;
  }